.search-form {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
}

/* .search-field {
    width: 45%;
    margin-left: 20%;
    margin-right: 20%;
} */

.search-button {
    position: relative;
}

table {
    width: 100%;
}

mat-card {
    margin: 5% 15% 5% 15%;
}

form {
    margin: 0 10%;
}